---
layout: default
---
<div class="site-content">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/info.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css//responsiveboxed.css">
    <script type="text/javascript" src="{{ site.baseurl }}/js/info.js"></script>
    <div class="inner">
        <main class="site-main">
            <article class="post box">
                <header id="header" class="container">
                    <div class="main">
                        <header class="entry-header">
                            <div class="entry-header-wrap" style="margin-bottom: 149px;">
                                <h1 class="entry-title">2016 OSS Summary</h1>
                            </div>
                            <!-- .entry-header-wrap -->
                        </header>
                        <!-- .entry-header -->
                        <nav class="header scroll_menu">

                        </nav>
                        <div id="scene_1">
                            <img class="item" src="images/scene/a1.png" alt="">
                            <div id="items">
                                <div><img src="images/scene/101.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/102.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/103.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/104.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/105.png" alt="" style="transform: initial;"></div>
                            </div>
                            <img class="item" src="images/scene/a5.png" alt="">
                            <img id="airplane" src="images/scene/6.png" alt="" style="left: 2074.41px; top: -72.2975px;">
                            <div class="clouds">
                                <div id="cl_1" data-time="28" data-direction="right" style="right: -698.42px;"></div>
                                <div id="cl_2" data-time="36" data-direction="left" style="left: 617.577px;"></div>
                                <div id="cl_3" data-time="57" data-direction="left" style="left: -1068.35px;"></div>
                                <div id="cl_4" data-time="49" data-direction="right" style="right: 493.23px;"></div>
                            </div>
                            <div class="headline">
                                <a id="ln_1" style="opacity: 1;"><span class="numder">52</span><span>Repositories contributed to.</span></a>
                                <a id="ln_2" class="right" style="opacity: 1;"><span>New version releases.</span><span class="numder">174</span></a>
                                <a id="ln_3" style="opacity: 1;"><span class="numder">1065</span><span>Commits.</span></a>
                            </div>
                        </div>
                    </div>

                </header>
                <section class="container pad90-top yellowgreen">
                    <div class="main white">
                        <h1>1065</h1>
                        <h4 class="light">...commits I've done to different open source repositories over 2016. </h4>
                            <div class="widget_skills vis" style="margin-top: 5%">
                                <div class="widget_inner">
                                    <div class="skills_row" style="height: 232px;">
                                        <span class="value" style="opacity: 1;">171</span>
                                        <div class="progressbar">
                                            <div class="progress" data-process="83%" style="height: 232px;">
                                                <div class="before" style="border-bottom-width: 232px;"></div>
                                                <div class="after" style="border-bottom-width: 232px;"></div>
                                            </div>
                                            <div class="foot"></div>
                                            <div class="shadow" style="border-bottom-width: 30px; border-right-width: 1300px;"></div>
                                        </div>
                                        <span class="caption" style="opacity: 1;">Mon</span>
                                    </div>
                                    <div class="skills_row" style="height: 280px;">
                                        <span class="value" style="opacity: 1;">206</span>
                                        <div class="progressbar">
                                            <div class="progress" data-process="100%" style="height: 280px;">
                                                <div class="before" style="border-bottom-width: 280px;"></div>
                                                <div class="after" style="border-bottom-width: 280px;"></div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                        <span class="caption" style="opacity: 1;">Tue</span>
                                    </div>
                                    <div class="skills_row" style="height: 196px;">
                                        <span class="value" style="opacity: 1;">144</span>
                                        <div class="progressbar">
                                            <div class="progress" data-process="70%" style="height: 196px;">
                                                <div class="before" style="border-bottom-width: 196px;"></div>
                                                <div class="after" style="border-bottom-width: 196px;"></div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                        <span class="caption" style="opacity: 1;">Wed</span>
                                    </div>
                                    <div class="skills_row" style="height: 254px;">
                                        <span class="value" style="opacity: 1;">187</span>
                                        <div class="progressbar">
                                            <div class="progress" data-process="90%" style="height: 254px;">
                                                <div class="before" style="border-bottom-width: 254px;"></div>
                                                <div class="after" style="border-bottom-width: 254px;"></div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                        <span class="caption" style="opacity: 1;">Thu</span>
                                    </div>
                                    <div class="skills_row" style="height: 200px;">
                                        <span class="value" style="opacity: 1;">147</span>
                                        <div class="progressbar">
                                            <div class="progress" data-process="71%" style="height: 200px;">
                                                <div class="before" style="border-bottom-width: 200px;"></div>
                                                <div class="after" style="border-bottom-width: 200px;"></div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                        <span class="caption" style="opacity: 1;">Fri</span>
                                    </div>
                                    <div class="skills_row" style="height: 141px;">
                                        <span class="value" style="opacity: 1;">104</span>
                                        <div class="progressbar">
                                            <div class="progress" data-process="50%" style="height: 141px;">
                                                <div class="before" style="border-bottom-width: 141px;"></div>
                                                <div class="after" style="border-bottom-width: 141px;"></div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                        <span class="caption" style="opacity: 1;">Sat</span>
                                    </div>
                                    <div class="skills_row" style="height: 146px;">
                                        <span class="value" style="opacity: 1;">106</span>
                                        <div class="progressbar">
                                            <div class="progress" data-process="51%" style="height: 146px;">
                                                <div class="before" style="border-bottom-width: 146px;"></div>
                                                <div class="after" style="border-bottom-width: 146px;"></div>
                                            </div>
                                            <div class="foot"></div>
                                        </div>
                                        <span class="caption" style="opacity: 1;">Sun</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </section>
                <section class="container pad90" style="background-color: #5ea281; margin-top: -3%; display: flex;">
                    <div style="width: 40%; margin-left: 5%">
                        <h4 class="light">Commits per organization </h4>
                        <canvas id="myChart1" width="400" height="400"></canvas>
                    </div>
                    <div style="width: 40%; margin-left: 5%">
                        <h4 class="light">Commits per time of the day </h4>
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>
                </section>
            </article>
        </main>
        <!-- .site-main -->
        {% include sidebar.html %}
    </div>
    <!-- .inner -->
</div>
<!-- .site-content -->