---
layout: default
---
<div class="site-content">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/info.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css//responsiveboxed.css">
    <script type="text/javascript" src="{{ site.baseurl }}/js/info.js"></script>
    <div class="inner">
        <main class="site-main">
            <article class="post box">
                <header id="header" class="container">
                    <div class="main">
                        <header class="entry-header">
                            <div class="entry-header-wrap" style="margin-bottom: 149px;">
                                <h1 class="entry-title">2016 OSS Summary</h1>
                            </div><!-- .entry-header-wrap -->
                        </header><!-- .entry-header -->
                        <nav class="header scroll_menu">

                        </nav>
                        <div id="scene_1">
                            <img class="item" src="images/scene/a1.png" alt="">
                            <div id="items">
                                <div><img src="images/scene/101.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/102.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/103.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/104.png" alt="" style="transform: initial;"></div>
                                <div><img src="images/scene/105.png" alt="" style="transform: initial;"></div>
                            </div>
                            <img class="item" src="images/scene/a5.png" alt="">
                            <img id="airplane" src="images/scene/6.png" alt="" style="left: 2074.41px; top: -72.2975px;">
                            <div class="clouds">
                                <div id="cl_1" data-time="28" data-direction="right" style="right: -698.42px;"></div>
                                <div id="cl_2" data-time="36" data-direction="left" style="left: 617.577px;"></div>
                                <div id="cl_3" data-time="57" data-direction="left" style="left: -1068.35px;"></div>
                                <div id="cl_4" data-time="49" data-direction="right" style="right: 493.23px;"></div>
                            </div>
                            <div class="headline">
                                <a id="ln_1" style="opacity: 1;"><span class="numder">52</span><span>Repositories contributed to.</span></a>
                                <a id="ln_2" class="right" style="opacity: 1;"><span>New version releases.</span><span class="numder">174</span></a>
                                <a id="ln_3" style="opacity: 1;"><span class="numder">1065</span><span>Commits.</span></a>
                            </div>
                        </div>
                    </div>
                </header>
            </article>
        </main>
        <!-- .site-main -->
        {% include sidebar.html %}
    </div>
    <!-- .inner -->
</div>
<!-- .site-content -->